/* Global CSS for whole website */

@font-face {
    font-family: CaviarDreams;
    src: url('assets/font/CaviarDreams.ttf');
}

html,
body {
    height: 100%;
}

body {
    font-family: CaviarDreams;
}

.bg-success {
    background-color: #74c830 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.text-light-grey {
    color: #7f7f7f !important;
}

.text-green,
.text-success {
    color: #74c830 !important;
}

.sidebar-icon {
    display: none;
}

.title {
    font-size: 4rem;
    line-height: 5.5rem;
}

a {
    text-decoration: none;
    color: #74c830;
}
a:hover {
    color: #aee184;
}