/* Global CSS for whole website */

@font-face {
    font-family: CaviarDreams;
    src: url(../font/CaviarDreams_Bold.ttf);
}

html,
body {
    height: 100%;
}

body {
    font-family: CaviarDreams;
    padding-top: 54px;
    color: #7f7f7f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h1.title {
    font-size: 3rem;
    line-height: 5.5rem;
}

a {
    text-decoration: none;
    color: #74c830;
}

a:hover,
a:focus,
a:active {
    color: #aee184;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.bg-success {
    background-color: #74c830 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.text-light-grey {
    color: #7f7f7f !important;
}

.text-green,
.text-success {
    color: #74c830 !important;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #7f7f7f;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #74c830;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #aee184;
}

#beta-program{
    background-image: url(../img/beta/bandeau_1250x500.png);
}

/*!
 * BASED ON 
 * Start Bootstrap - Resume v5.0.8 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */