/* style the GreenPonik doc */

@font-face {
    font-family: CaviarDreams;
    src: url(/assets/font/CaviarDreams.ttf);
}

body {
    overflow-x: hidden;
    font-family: CaviarDreams;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    width: 15vw;
}

#sidebar-wrapper .sidebar-heading img {
    width: 20%;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.text-light-grey {
    color: #7f7f7f;
}

.text-green {
    color: #74c830;
}

.sidebar-icon {
    display: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}